/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
color: #AA303E;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  padding: 4px;
}

h1 {
font-size: 50px;
font-weight: 700;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

h2 {
font-size: 30px;
font-weight: 700;
}

h3 {
font-size: 22px;
font-weight: 700;
font-style:italic;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

a {
color: #1A181B;
}

a:hover {
color: #388697;
}

a:focus {
color: #388697;
}

a:visited {
color: #1C3144;
}

a:active {
color: #1C3144;
}*/

div {
padding: 10px; 
margin: 10px; 
}

#navigation-list__item--active {
text-decoration: none;
color:#AA303E;
font-weight: 600;
list-style-type: none;
}

#cvbutton {
width:-webkit-fit-content;
width:-moz-fit-content;
width:fit-content;
margin: 0 auto;
text-align: center;
display: block;
}

#hello {
font-size: 30px;
font-weight: 700;
}

.experiencetable {
width:-webkit-fit-content;
width:-moz-fit-content;
width:fit-content;
margin: 0 auto;
text-align: center;
display: block;
}

.button {
border: none;
display: inline-block;
font-family: inherit;
width:-webkit-fit-content;
width:-moz-fit-content;
width:fit-content;
margin-left: 12px;
background-color: #AA303E;
color: #F5F5F5;
text-decoration: none;
padding: 10px;
border-radius: 3px;
border-bottom: 2px solid; color: #F5F5F5;
-webkit-transition: opacity 0.2s;
-o-transition: opacity 0.2s;
transition: opacity 0.2s;
}

.button:hover {
cursor: pointer;
opacity: 0.8;
color:#F5F5F5;
}

.button:focus {
cursor: pointer;
opacity: 0.8;
color:#F5F5F5;
}

.button:visited {
color:#F5F5F5;
}

.page-header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 97%;
}

.page-header__item {
-webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
        flex: 0 1 200px;
width:15%;
}

.page-header__item:last-child {
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
text-align: right;
}

.navigation-list {
list-style-type: none;
}

.navigation-list li {
display: inline-block;
margin-left: 15px;
}
.navigation-list__item:hover {
color: #388697;
}

.profile__portrait {
float: left;
}

.page-footer {
clear: both;
font-style:italic;
}

.profile__portrait {
float: left;
width: 275px;
margin-right: 40px;
}

.profile {
max-width: 700px;
margin: 0 auto 100px auto;
}

.about {
max-width: 700px;
margin: 0 auto;
}

.contact {
max-width: 700px;
margin: 0 auto;
}

.page-footer {
clear: both;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
text-align: center;
}

.grid {
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
}

.grid__item {
background-color: #DD6371;
text-align: center;
}

.yourproject {
text-align: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin: 0 auto;
width:50%;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}