
* {
    box-sizing: border-box;
}

:root {
  --primary-color: #AA303E;
  --primary-lighter-20:#DD6371;
  --primary-lighter-40: #FF96A4;
  --secondary-color: #1C3144;
  --secondary-lighter-20: #4F6477;
  --secondary-lighter-40:#8297AA;
  --accent-color:#388697;
  --black: #1A181B;
  --white:#F5F5F5;
}

a {
  color: var(--primary-color);
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    padding: 4px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  display:flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

a {
  color: var(--black);
}

a:hover, a:focus {
  color: var(--accent-color);
}

a:visited {
  color: var(--secondary-color);
}

a:active {
  color: var(--secondary-color);
}*/

div {
  padding: 10px; 
  margin: 10px; 
 }

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  color:var(--white);
}

.button:visited {
  color:var(--white);
}

#navigation-list__item--active {
  text-decoration: none;
  color:var(--primary-color);
  font-weight: 600;
  list-style-type: none;
}

#cvbutton {
  width:fit-content;
  margin: 0 auto;
  text-align: center;
  display: block;
}

#hello {
  font-size: 30px;
  font-weight: 700;
}

.experiencetable {
  width:fit-content;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  width:fit-content;
  margin-left: 12px;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid; color: var(--white);
  transition: opacity 0.2s;
}

.page-header {
  display: flex;
  width: 97%;
}

.page-header__item {
  flex: 0 1 200px;
  width:15%;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.navigation-list__item:hover {
  color: var(--accent-color);
}

.profile__portrait {
  float: left;
}

.page-footer {
  clear: both;
}

.profile__portrait {
  float: left;
  width: 275px;
  margin-right: 40px;
}

.about_coffeecake {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto 100px auto;
}

.about {
  max-width: 700px;
  margin: 0 auto;
}

.contact {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--primary-lighter-20);
  text-align: center;
}

.yourproject {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width:50%;
}

.indexbuttons {
    width:fit-content;
    margin: 0 auto;
    display:flex;
    align-content: space-evenly;
}
.contact-form {
  width:fit-content;
  margin: 0 auto;
  display:flex;
  align-content: space-evenly;
}
@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
}
/*Presumably, these colors in the vector image are not applicable to the variable color exercise for Task 1.8*/
@keyframes color-change {
  0% {
    fill: #e8ac22;
  }
  50% {
    fill: #dea54d;
  }
  100% {
    fill: #c26b28;
  }
}
.cls-20 {
  animation: 4s color-change infinite alternate linear;
}
@keyframes birds-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.birda {
  animation: 30s birds-move infinite alternate linear;
}
.birdc {
  animation: 30s birds-move infinite alternate linear;
}
@keyframes bird-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.birdb {
  animation: 34s bird-move-reverse infinite alternate linear;
}
  